# Local API server port
PORT=8787

# SendGrid API settings
SENDGRID_API_KEY=
SENDGRID_FROM_EMAIL=
SENDGRID_TO_EMAIL=

# Requested message metadata
SENDGRID_SUBJECT=New KDM Quote Request
SENDGRID_SENDER_NAME=KDM Automotive, LLC
